html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: white;
  font-family: 'Merriweather', serif; 
  font-size: 1rem;
}

p {
  margin-top: 2px;
}

a {
  color: white;
}

a:hover {
  color: white;
}



.App {
  text-align: center;
}

.hobby-pic {
  max-height: 200px;
  max-width: 300px;
}

.hobby-des {
  text-align: right;
}

#hobbies-hori {
  height: 200px;
}

.project-mini-pic {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  }

.overlay {
  position: relative;
  top: -305px;
  right: -5px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(35, 38, 61);
  border-radius: 5px;
}

.overlay:hover {
  opacity: .70;
}

.portfolio-buffer {
  height: 300px;
}

.project-title {
  text-align: center;
  padding-top: 120px;
}

.git {
  height: 50px;
}


#pitch-summary {
  width: 66%;
  margin: 10px auto;

}

.navbar {
  background-color: rgb(23, 23, 77); ; 
}

#backToTopBtn {
  position: absolute;
  top: 90%;
  right: 1%;
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
  border: 0ch;
}

#aufc {
  margin-top: -5px;
  padding-left: 3.5%;
}

@media only screen and (min-width: 1200px) {
  #about-me {
    height: 650px;
    background-color:  rgb(21, 21, 34);
  }

}
/*col-lg+*/
@media only screen and (min-width: 992px) {
  html,body {
    font-size: 18px;
    line-height: 1.75;
  }

  #about-me {
    height: 1250px;
    background-color:  rgb(21, 21, 34);
  }

  .hobbies {
    background-color:  rgb(27, 21, 34);
    height: 975px;
  }

  .hobby-cont {
    height: 550px;
    margin-top: 200px;
    background: rgba(55, 27, 78, 0.25) ;
  }
  
  .horiz {
    height: 200px;
    margin-top: 20px;
    margin-left: 25px;
  }

  #profile-pic {
    height: 400px;
    float: left;
    margin-top: 30px;
  }
  
  #portfolio {
    height: 400px;
    background-color: rgb(14, 31, 31);
  }

  .portfolio-buffer {
    display: none;
  }

  .project-mini {
    height: 300px; 
  }
}

/*col-md*/
@media only screen and (max-width: 991px) {
  #about-me {
    height: 650px ;
    background-color:  rgb(21, 21, 34);
  }

  #profile-pic {
    margin-top: 10px;
  }
  
  #portfolio {
    height: 1300px;
    background-color: rgb(14, 31, 31);
  }
  
  .horiz {
    margin-top: 10px;
    margin-left: 45px ;
  }

  .hobbies {
    background-color:  rgb(27, 21, 34);
    height: 800px ;
  }
  
  .hobby-cont {
    height: 450px;
    margin-top: 20px;
    background: rgba(55, 27, 78, 0.25) ;
  }  

  .project-mini {
    height: 300px; 
  }
}

/*col-s*/
@media screen and (max-width: 767px) {

  .horiz {
    margin-left: 17px;
    height: 200px;
  }
  
  .hobby-cont {
    height: 700px;
    /* background: rgba(55, 27, 78, 0.25); */
    border-radius: 30px;
    margin-top: 5px;
  }
  
  #about-me {
    height: 920px;
    background-color:  rgb(21, 21, 34);
  }
  
  .hobbies {
    height: 935px;
    background-color:  rgb(27, 21, 34);
  }

  #portfolio {
    height: 1250px;
    background-color: rgb(14, 31, 31);
  }

  #profile-pic {
    height: 200px;
    width: 300px;
    float: left;
    margin-top: 10px;
  }
  
.project-mini {
  height: 300px; 
  }
}

/*col-xs*/
@media screen and (max-width: 575px) {

  .horiz {
    margin-left: 17px;
    height: 200px;

  }
  
  .hobby-cont {
    height: 700px;
    background: rgba(55, 27, 78, 0);
    border-radius: 30px;
    margin-top: 5px;
  }
  
  #about-me {
    height: 800px;
    background-color:  rgb(21, 21, 34);
  }
  
  .hobbies {
    height: 950px;
    background-color:  rgb(27, 21, 34);
  }

  #portfolio {
    height: 1250px;
    /* background-color: darkslategrey; */
    background-color: rgb(14, 31, 31);
  }

  #profile-pic {
    height: 200px;
    width: 300px;
    float: left;
    margin-top: 10px;
  }
  
.project-mini {
  height: 300px;
  }
  #backToTopBtn {
    display: none;
  }
}