html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: white;
  font-family: 'Merriweather', serif; 
  font-size: 1rem;
}

p {
  margin-top: 2px;
}

@media only screen and (min-width: 992px) {
  html,body {
    font-size: 20px;
    line-height:1.75;
  }

  #about-me {
    height: 2000px;
    background-color:  rgb(21, 21, 34);
  }

  #profile-pic {
    height: 400px;
    width: 700px;
    float: left;
    margin-top: 10px;
  }
}

a {
  color: white;
}

a:hover {
  color: white;
}

.App {
  text-align: center;
}

.hobby-pic {
  max-height: 200px;
  max-width: 300px;
}

.hobby-des {
  /* font-size: 1.8rem; */
  text-align: center;
}

#hobbies-hori {
  height: 200px;
}

.horiz {
  margin-top: 15px;
  margin-left: 25px;
  height: 200px;
}

.hobby-cont {
  height: 940px;
  background: rgba(55, 27, 78, 0.25);
  border-radius: 30px;
  margin-top: 5px;
}

#about-me {
  height: 1000px;
  background-color:  rgb(21, 21, 34);
  /* font-size: 1.8rem; */

 }
 
 .hobbies {
  height: 955px;
  background-color:  rgb(27, 21, 34);
   
 }

#portfolio {
  height: 1300px;
  /* background-color: darkslategrey; */
  background-color: rgb(14, 31, 31);
}
 

.carousel {
  padding: 75px 0 0 25px;
  height: 400px;
}

.project-mini {
  height:300px;
}

.project-mini-pic {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  }

.overlay {
  position: relative;
  top: -305px;
  right: -5px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(35, 38, 61);
  border-radius: 5px;
}

.overlay:hover {
  opacity: .70;
}

.project-title {
  text-align: center;
  padding-top: 120px;
}

.git {
  height: 50px;
}

#profile-pic {
  height: 200px;
  width: 300px;
  float: left;
  margin-top: 10px;
}

#pitch-summary {
  width: 66%;
  margin: 10px auto;

}

.navbar {
  background-color: rgb(23, 23, 77); ; 
}

#backToTopBtn {
  position: absolute;
  top: 90%;
  right: 1%;
  color: white;
  background-color: rgba(0, 0, 0, 0.178);
  border: 0ch;
}

#AUFC {
  margin-top: -5px;
  padding-left: 3.5%;
}

.portfolio-buffer {
  height: 300px;
}