html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  color: white;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.App {
  text-align: center;
}

.hobby-pic {
  max-height: 200px;
  max-width: 300px;
  margin-left: 30px;
}

.hobby-info {
  height: 100px;
}

.hobby-des {
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.8rem;

}

#hobbies-hori {
  height: 300px;
  padding-bottom: 50px;
}

#hobbies-vert {
  height: 60%;
  padding-bottom: 5px;
}

.horiz {
  margin: 15px 10px 0px 0px;
}

.vert {
  margin: 100px 0px 0px 0px;
}


.hobby-cont {
  height: 450px;
  background: rgba(55, 27, 78, 0.25);
  border-radius: 30px;
}
/*                                                                                                  Currently unused class
 .nameplate {
  background-image: url("./images/cyberpunk-neon-city-w-name.png");
  height: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} */

.about-me {
  height: 700px;
  background-color:  rgb(21, 21, 34);
  font-size: 1.8rem;

 }
 
 .hobbies {
  height: 1000px;
  background-color:  rgb(27, 21, 34);
  
  
 }

.portfolio {
  height: 700px;
  /* background-color: darkslategrey; */
  background-color: rgb(14, 31, 31);
}
 
.contact-info {
  height: 700px;
  background-color: darkgreen;
}

.carousel {
  padding: 75px 0 0 25px;
  height: 400px;
}

.project-mini {
  display: inline-block;
  height: 300px;
  width: 300px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  }

.overlay {
  position: relative;
  top: -305px;
  right: -5px;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(35, 38, 61);
  border-radius: 5px;
}

.overlay:hover {
  opacity: .70;
}

.project-title {
  text-align: center;
  padding-top: 120px;
}

.git {
  height: 50px;
}

#profile-pic {
  height: 400px;
  width: 700px;
  float: left;
  margin: 20px 10px 0px 10px;
}

#pitch-summary {
  display: inline;
}


.navbar {
  background-color: rgb(23, 23, 77); ; 
}