.about-me {
    height: 900px;
    background-color: darkblue;
}

.portfolio {
    height: 300px;
    background-color: darkslategrey;
}

.contact-info {
    height: 300px;
    background-color: darkgreen;
}

.dark {
    color: white;
}